NAMECOST=500
INTERNALKEY=internal_key_here
PUBLICURL=localhost:5241
PUBLICWSURL=localhost:5241
CONNECTIONSTRINGS__DEFAULT=Host=localhost;Port=5432;Database=kromer;Username=kromer;Password=kromer
ALERTWEBHOOK=https://discord.com/api/webhooks/blabla